/* Define tailwind layers */
@layer theme, base, components, utilities;

/* Add tailwind with the pl: prefix */
@import "tailwindcss/theme.css" layer(theme) prefix(pl);
@import "tailwindcss/utilities.css" layer(utilities) prefix(pl);
@import "./scrollbar.css";
@import "./colors.css";

@theme {
    --text-2xs: 0.625rem;
    --text-2xs--line-height: calc(1 / 0.625);
    --text-3xs: 0.5rem;
    --text-3xs--line-height: calc(1 / 0.5);
}

/* Scope tailwind preflight to only affect PL */
.prompt-legos-react-app {
    /*noinspection CssInvalidImport*/
    @import "tailwindcss/preflight.css" layer(base);
}
